# ignored files
*_temp*
$TempDir$
*.TempDir
*.ipynb
# cache files
__pycache__
*.swp
.vscode
.ipynb_checkpoints
# build file
build/
dist/
*.spec
*.egg-info
.DS_Store

# Binary file
labelSys/clib/*.dylib
labelSys/clib/*.so
labelSys/clib/*.dll
labelSys/bin/*
